<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us">
<head>
	<title>[% title %]</title>
        <script type="text/javascript">

        document.write('<div id="loading"><p>loading ...</p></div><style "text/css">#wrapper960{visibility:hidden}#loading{margin:1px auto;width:1100px;height:0px;color:#00eeee;border:0px solid #777;padding:0px;text-align:left;}</style>');
        
        </script>
        <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen" charset="utf-8" />  
	<script type="text/javascript" src="/lib/jquery-1.4.min.js"></script>
        <script type="text/javascript">

        $(window).load(function() {
        $('#loading').fadeOut(2000);
        $('#wrapper960').hide();
                $('#wrapper960').css('visibility','visible');
        $('#wrapper960').fadeIn(1);
        });

        function get_ajax_status() {
            $('#status').load('/send?action=status');
            $('#login').load('/login_status');
        }

        $(document).ready(function() {

            get_ajax_status();

            // set up ajax defaults
            $.ajaxSetup({
                type: 'POST',
                url: '/send',
                timeout: 3000,
            });
        });
        </script>



        <link rel="stylesheet" href="/css/tooltip_styles.css" type="text/css" media="screen" charset="utf-8" />  
	<link rel="stylesheet" href="/css/1jq.css" type="text/css" media="print, projection, screen" />
        <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen" charset="utf-8" />  
	<link rel="stylesheet" href="/css/themes/blue/style.css" type="text/css" id="" media="print, projection, screen" />
        <link rel="stylesheet" href="/css/redmond/jquery-ui-1.8.4.custom.css" type="text/css" id="" media="print, projection, screen" />


        <script type="text/javascript" src="/js/jquery-ui-1.8.4.custom.min.js"></script>
	<script type="text/javascript" src="/js/update.js"></script>
	<script type="text/javascript" src="/js/jquery.tablesorter.js"></script>
	<script type="text/javascript" src="/addons/pager/jquery.tablesorter.pager.js"></script>
	<script type="text/javascript" src="/js/chili/movetip.js"></script>
	<script type="text/javascript" src="/js/chili/chili-1.8b.js"></script>
	<script type="text/javascript" src="/js/docs.js"></script>
        [% IF tooltips %]
        <script type="text/javascript" src="/js/movetip.js"></script>
        <script type="text/javascript" src="/js/datadumper.js"></script>
        <script type="text/javascript" src="/js/confirmation.js"></script>
        [% END %]
	<script type="text/javascript" src="/js/common.js"></script>

</head>
<body>

<div id="wrapper960"><!--wrapper960-->

<div id="container">
    <div id="header">
    </div>

<div id="content">

<h2>[% title %]</h2>
[% nav %] [% user %]

<div id="mainContent" style="height: 120px;">
[% content %]
</div>

<div id="msg"></div>
<strong>status</strong>
<div id="status"></div>
<strong>login</strong>
<div id="login"></div>

<p id="disclaimer"> 

to sort columns click on a title heading<br>

keep holding the 'shift' key when clicking more than one heading to sort on multiple columns<br>

</p> <input type="button" id="toggleButton" value="help"/>

<p>Ninja - log viewer - for narcsworld</p>

<div id="pager" class="pager">
	<form>
		<img src="/addons/pager/icons/first.png" class="first"/>
		<img src="/addons/pager/icons/prev.png" class="prev"/>
		<input type="text" class="pagedisplay"/>
		<img src="/addons/pager/icons/next.png" class="next"/>
		<img src="/addons/pager/icons/last.png" class="last"/>
		 <select class="pagesize">
			<option selected="selected"  value="10">10</option>
			<option value="20">20</option>
                        <option value="30">30</option>
			<option  value="40">40</option>
		</select> 
               
	</form>
</div>

<div id="ok-dialog-message" title="Enable URL">
	<p>

		<span class="ui-icon ui-icon-circle-check" style="float:right; margin:0 7px 50px 0;"></span>
                <strong>Removing an address from block list</strong>
	</p>
	<p>
		add to whitelist clearance
	</p>
	<p>
		Click OK to commit
	</p>
</div>

<div id="dialog-message" title="Disable URL">
	<p>

		<span class="ui-icon ui-icon-circle-close" style="float:left; margin:0 7px 50px 0;"></span>
                <strong>Adding an address to block</strong>
	</p>
	<p>
		remove whitelist clearance
	</p>
	<p>
		Click OK to commit
	</p>
</div>



</div> <!-- end content-->
</div> <!-- end container -->

</div"><!--wrapper960-->

</body>
</html>
